.price{font:14px "Microsoft Yahei",Arial,sans-serif}
.price em{font:14px Arial,sans-serif}
.do_blue,.do_blue:hover{color:#00add1;cursor:pointer}
.do_blue.disable,.do_blue.disable:hover{color:#a1a1a1;cursor:default}
.btn{display:inline-block;height:28px;margin:0;padding:0 20px;*padding:0 10px;border-width:1px;border-style:solid;font-size:14px;font-weight:700;line-height:28px;text-align:center;cursor:pointer;outline:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
input.btn{height:30px}
.module_date_data{margin-top:8px}
.module_calendar_date,.module_calendar_data{float:left}
.choose_date_month{width:500px;background:#0e93f0; float:left;}
.choose_month_bar{position:absolute;width:500px}
.choose_month_bar .month_bar{position:absolute;top:0;line-height:46px;color:#fff;cursor:pointer}
.choose_month_bar .month_bar.prev{left:20px}
.choose_month_bar .month_bar.next{right:20px}
.choose_month_bar .month_bar strong{margin:0 5px;font:400 16px "Microsoft Yahei",Arial,sans-serif}
.choose_month_bar .month_bar span{font-size:22px;font-weight:700;vertical-align:-2px}
.choose_date_month .year_month{font:400 24px/46px Arial,sans-serif;text-align:center;color:#89caf8}
.choose_date_month .year_month .month{font-size:30px;color:#fff}
.choose_date_month .week{line-height:22px;background:#0074c5}
.choose_date_month .week span{display:inline-block;width:65px;text-align:center;color:#fff}
.choose_date_month .date{border:7px solid #0e93f0;border-top:0 none;background:#fff}
.choose_date_month .date table{width:100%;border-collapse:collapse;border-spacing:0}
.choose_date_month .date td{border:1px solid #ddd}
.choose_date_month .date td.none{border:0}
.choose_date_month .date td div{position:relative;overflow:hidden;width:58px;height:71px;padding:0 5px;line-height:24px;cursor:pointer}
.choose_date_month .date td .sale_on:hover,.choose_date_month .date td .sale_on.hover,.choose_date_month .date td .sale_on.selected{background:#fff3c4}
.choose_date_month .date .out,.choose_date_month .date .sale_off{cursor:default}
.choose_date_month .date .out{background:#f5f5f5;color:#ccc}
.choose_date_month .date .out .price{color:#999}
.choose_date_month .date .sale_off,.choose_date_month .date .sale_off .num{color:#a1a1a1}
.choose_date_month .date .price,.choose_date_month .date .price em{font-size:12px}
.choose_date_month .date .price{line-height:16px}
.choose_date_month .date .price,.choose_date_month .date .festival .num{font-size:12px}
.choose_date_month .date .num{font-family:Tahoma,sans-serif;font-weight:700;line-height:20px}
.choose_date_month .date .out .num{font-weight:400}
.choose_date_month .date .festival .num{font-weight:400}
.choose_date_month .date .festival .num,.choose_date_month .date .weekend .num{color:#f60}
.choose_date_month .date .sale_on .price{color:#00add1}
.choose_date_month .date .sale_off .price{color:#7f7f7f}
.choose_date_month .sale_online,.choose_date_month .sale_offline{position:absolute;top:0;right:5px;line-height:20px;white-space:nowrap}
.choose_date_month .sale_online{color:#0b0}
.choose_date_month .sale_offline{color:#f00}
.module_calendar_data{min-width:200px;margin-left:10px;padding:8px 0;border:1px solid #c6c6c6;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);-moz-box-shadow:0 1px 2px rgba(0,0,0,0.3);box-shadow:0 1px 2px rgba(0,0,0,0.3)}
.module_calendar_data .data_item{padding-top:6px}
.module_calendar_data .data_item .cap{display:inline-block;width:84px;text-align:right;white-space:nowrap}
.module_calendar_data .data_unit{display:inline-block}
.module_calendar_data select{}
.data_item_do{margin-top:20px;text-align:center}
.module_calendar_do{padding:0 7px 7px;text-align:right}
.input_small[type="text"]{width:62px;}

#container td{padding:0;}

.dialog_content { padding: 4px; min-width: 510px;  margin-top: 18px; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.dialog_form_mid { width: auto; height: 300px; overflow-y: auto;}
.valid_price_caption {position: relative;height:30px; margin: 0px 20px 5px; border-bottom: 2px solid #DBDBDB;line-height: 30px;}
.valid_price_caption strong {font-size: 14px;font-weight: 700;}
.form_error_notes { position: absolute; top: 50%; right: 10px; margin-top: -10px; line-height: 20px; white-space: nowrap;}
.form_new_notes .warn {display: inline-block; width: 14px; height: 14px; margin-right: 5px; font: 700 12px/14px Arial,sans-serif; text-align: center; background: none repeat scroll 0% 0% #FF8400; color: #FFF; border-radius: 6px;}
.allBox{ display:none; }
.form_new_notes .error { color: #F60;}
.input .inputTable .allBox tr:hover{ background-color:#fff;}
.input .inputTable .allBox td{ border:none; padding:0px;}
.input .inputTable .allBox .allTd{ text-align:right;}
.input .inputTable .allBox th{ padding:10px; text-align:right; background-color:#fff; border:none; width:80px; color:#666;}
.allMask{ width:100%; min-height:100%; background-color:#000; filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; position:absolute; top:0; left:0; z-index:8;}
.btn_orange {border-color: #EC7500;color: #FFF;background: #FF9C00;}
.btn_orange:hover, .btn_orange_hover {color: #FFF;background: #FF8400;}
.btn_gray:hover, .btn_gray_hover {color: #535353;background: #E2E2E2;}
.input_small_1{width:170px;height: 16px;line-height: 16px;padding: 2px;}
.dialog_box{display:none;position:fixed;z-index:9;min-height:132px;border:5px solid #8f8f8f;word-break:break-all;_height:150px;_position:absolute;color:#555;background:#fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);-moz-box-shadow:0 0 5px rgba(0,0,0,0.5);box-shadow:0 0 5px rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.Shadow(color='#969696',Direction=145,Strength=3); padding-top:14px;}
.dialog_caption{padding:0 15px;font-size:14px;font-weight:700;line-height:38px;background:#f5f5f5}
.dialog_do{padding:15px 0;text-align:center}
.dialog_box .des{width:230px;padding:5px 0;line-height:16px}
.dialog_close{position:absolute;top:3px;right:3px;overflow:hidden;width:32px;height:32px;font-size:20px;text-align:center;line-height:32px;color:#a5a5a5;cursor:pointer}
.dialog_cover{display:none;position:fixed;top:0;right:0;bottom:0;left:0;z-index:8;background:#000;opacity:.5;filter:alpha(opacity=50);_position:absolute;_width:100%;_height:100%}
.dialog_box .form_cutline{overflow:hidden;height:0;margin:6px 0;border-top:1px dashed #d9d9d9}
.dialog_box .form_cutline.more_space{margin-bottom:10px}
.dialog_box .sprites{position:relative;top:3px;*top:1px}
.dialog_box .s_phone,.dialog_box .s_tq{margin-left:8px}