<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qmx.member.mapper.GdsInitializationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qmx.member.model.GdsInitialization">
        <result column="id" property="id"/>
        <result column="enable_" property="enable"/>
        <result column="remark" property="remark"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>

        <result column="member_id" property="memberId"/>
        <result column="mobile" property="mobile"/>
        <result column="supplier_id" property="supplierId"/>
        <result column="group_supplier_id" property="groupSupplierId"/>
        <result column="integral" property="integral"/>
        <result column="password" property="password"/>
        <result column="daily_integral" property="dailyIntegral"/>
        <result column="daily" property="daily"/>
        <result column="reward_integral" property="rewardIntegral"/>
        <result column="code_integral" property="codeIntegral"/>
        <result column="code_money" property="codeMoney"/>
    </resultMap>

    <sql id="Base_Condition">
        <where>
            <if test="cm.supplierId != null and cm.supplierId !=''">
                and supplier_id = #{cm.supplierId}
            </if>
            and enable_ = 1
        </where>
    </sql>

    <select id="selectListEX" resultMap="BaseResultMap">
        select * from gds_initialization
        <include refid="Base_Condition"/>
        ORDER BY create_time DESC
    </select>

    <select id="findBySupplierId" resultMap="BaseResultMap">
        SELECT * FROM gds_initialization
        WHERE supplier_id = #{id}
    </select>

</mapper>
